{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="position-relative">
                    <div class="position-absolute top-50 start-0 translate-middle-y positioning">
                        <div class="card background m-3">
                            <h1 class="info-heading">
                                This Season Shirts Are Here!<br>
                                Across All The English Leagues!<br>
                                Check Them Out Now!
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}