{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card background">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="page-header">Order Successful</h2>
                    <hr class="h2-line">
                    <p class="text-start">Your information is here. A confirmation email has been sent to {{ order.email_address }}.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                <div class="table-responsive">
                        <table class="table table-dark table-hover">
                        <thead>
                                <tr>
                                    <th scope="col">Order Information</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Order Number:<br>
                                        Ordered On:
                                    </td>
                                    <td>
                                        <p class="text-end">
                                            {{ order.order_number }}<br>
                                            {{ order.date }}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th scope="col">Item/s Ordered</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Name:<br>
                                        Size:<br>
                                        Amount:
                                    </td>
                                    <td>
                                        {% for item in order.lineitems.all %}
                                        <p class="text-end">
                                            {{ item.product.name }}<br>
                                            {% if item.product_size %}{{ item.product_size|upper }}{% endif %}<br>
                                            {{ item.quantity }} @ £{{ item.product.price }} each
                                        </p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th scope="col">Delivery Address</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Name:<br>
                                        Street Name 1:<br>
                                        Street Name 2:<br>
                                        Town or City:<br>
                                        County:<br>
                                        Postal Code:
                                        
                                    </td>
                                    <td>
                                        <p class="text-end">
                                            {{ order.full_name }}<br>
                                            {{ order.street_name_1 }}<br>
                                            {{ order.street_name_2 }}<br>
                                            {{ order.town_or_city }}<br>
                                            {{ order.county }}<br>
                                            {{ order.postal_code }}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th scope="col">Contact Information</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Email Address:<br>
                                        Contact Number:                                    
                                    </td>
                                    <td>
                                        <p class="text-end">
                                            {{ order.email_address }}<br>
                                            {{ order.contact_number }}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th scope="col">Invoice Information</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Order Total:<br>
                                        Delivery Costs:<br>
                                        Grand Total:                                    
                                    </td>
                                    <td>
                                        <p class="text-end">
                                            £{{ order.order_total }}<br>
                                            £{{ order.delivery_costs }}<br>
                                            £{{ order.grand_total }}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6 pb-3">
                {% if from_profile %}
                <a class="btn btn-dark text-white" href="{% url 'profiles' %}">
                    <i class="fas fa-arrow-left"></i> Profile
                </a>
                {% else %}
                <a class="btn btn-dark text-white" href="{% url 'products' %}">
                    <i class="fas fa-arrow-left"></i> All Shirts
                </a>
                {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
