html {
    height: 100%;
}

/* -------------- header styling ---------------- */

.logo {
    text-transform: uppercase;
    font-family: 'Lexend Mega', sans-serif;
    color: #fff;
    margin-bottom: 0;
    padding-top: 8px;
}

.float-right {
    float: right;  
}

.float-right li { 
    display: table-cell;
    vertical-align: middle;
    float:left;
    margin-bottom: 0;
}
.text-white{
    color: #fff;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* -------------- media queries ----------------- */

