/* -------------- general styling --------------- */

html {
    height: 100%;
}

body {
    background: url('/media/premier-League-football-kits-2020-21.png') no-repeat center center fixed;
    background-size: cover;
}

.background {
    background-color: rgba(245, 245, 248, 0.8);
}

.positioning {
    margin-top: 150px;
}

/* -------------- header styling ---------------- */

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lexend Mega', sans-serif;
    color: #fff;
    margin-bottom: 0;
    padding-top: 8px;
}

.float-right {
    float: right;  
}

.float-right li { 
    display: table-cell;
    vertical-align: middle;
    float:left;
    margin-bottom: 0;
}

.delivery-banner {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lexend Mega', sans-serif;
    color: #fff;
    padding-top: 5px;
}

.info-heading {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lexend Mega', sans-serif;
    padding: 8px;
}

/* -------------- navbar stylings ---------------- */

.all-shirts-button-image {
    background-image: url('/media/all-shirts-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
    color: #fff;
}

.premier-league-button-image {
    background-image: url('/media/premier-league-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
    color: #fff;
}

.championship-button-image {
    background-image: url('/media/championship-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
    color: #fff;
}

.league-one-button-image {
    background-image: url('/media/league-one-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
    color: #fff;
}

.league-two-button-image {
    background-image: url('/media/league-two-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
    color: #fff;
}

.nav-style {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #000;
}

/* -------------- header stylings ---------------- */

.h2-line {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.page-header {
    font-family: 'Lexend Mega', sans-serif;
    text-transform: uppercase;
}

/* -------------- shirts page stylings ---------------- */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: solid 2px black;
}

.btt-link,
.update-link,
.delete-link {
    cursor: pointer;
    text-decoration: none;
}

/* -------------- product information styling ------------- */

.product-info {
    text-align: center;
    margin-top: 20px;
}

.category-link {
    color: #fff;
}

.category-info-link {
    color: #000;
}

.center-input {
    margin:auto;
    text-align:center;
    display:block;
}

/* -------------- bag stylings ---------------- */

.bag-button {
    background-color: #fff;
    color: #000;
    width: 25%;
    font-size: 16px;
    margin-right: 8px;
    float: right;
}

.all-shirts-button {
    background-color: #000;
    color: #fff;
    width: 25%;
    font-size: 16px;
    float: left;
}

.text-right {
    text-align: right;
}

/* -------------- text color stylings ---------------- */

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

/* -------------- from Bulma -------------- */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ------------- media queries ------------- */

@media screen and (max-width: 800px) {
  .main-nav,
  .mobile-display {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 800px) {
    .logo-mobile-display {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 800px) {
    .mobile-nav {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 800px) {
  .mobile-product-buttons {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
    .mobile-image {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 800px) {
    .desktop-image {
        padding-top: 10px;
        padding-bottom: 15px;
    }
}