html {
    height: 100%;
}

/* -------------- header styling ---------------- */

.logo {
    text-transform: uppercase;
    font-family: 'Lexend Mega', sans-serif;
    color: #fff;
    margin-bottom: 0;
    padding-top: 8px;
}

.float-right {
    float: right;  
}

.float-right li { 
    display: table-cell;
    vertical-align: middle;
    float:left;
    margin-bottom: 0;
}

/* -------------- main navbar styling ---------------- */

.all-shirts-button-image {
    background-image: url('/media/all-shirts-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
}

.premier-league-button-image {
    background-image: url('/media/premier-league-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
}

.championship-button-image {
    background-image: url('/media/championship-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
}

.league-one-button-image {
    background-image: url('/media/league-one-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
}

.league-two-button-image {
    background-image: url('/media/league-two-button.jpg');
    background-size: cover; 
    width: 148px; 
    height: 42px;
    font-size: 14px;
}

/* -------------- text color stylings ---------------- */

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

/* -------------- from Bulma -------------- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}