<div class="row bg-white">
    <ul class= "list-inline list-unstyled">
        <li class="nav-item dropdown list-inline-item">
            <button class="nav-link mt-2" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a>
                    All Shirts
                </a>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By League</a>
                <a href="" class="dropdown-item">All Shirts</a>
            </div>
        </li>

        <li class="nav-item dropdown list-inline-item">
            <button class="nav-link mt-2" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a>
                    Premier League
                </a>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">Home</a>
                <a href="" class="dropdown-item">Away</a>
                <a href="" class="dropdown-item">All Shirts</a>
            </div>
        </li>

        <li class="nav-item dropdown list-inline-item">
            <button class="nav-link mt-2" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a>
                    EFL Championship
                </a>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">Home</a>
                <a href="" class="dropdown-item">Away</a>
                <a href="" class="dropdown-item">All Shirts</a>
            </div>
        </li>

        <li class="nav-item dropdown list-inline-item">
            <button class="nav-link mt-2" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a>
                    EFL League One
                </a>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">Home</a>
                <a href="" class="dropdown-item">Away</a>
                <a href="" class="dropdown-item">All Shirts</a>
            </div>
        </li>

        <li class="nav-item dropdown list-inline-item">
            <button class="nav-link mt-2" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a>
                    EFL League Two
                </a>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">Home</a>
                <a href="" class="dropdown-item">Away</a>
                <a href="" class="dropdown-item">All Shirts</a>
            </div>
        </li>

    </ul>
</div>