<div class="row bg-white w-100 main-nav">

    <div class="d-flex justify-content-center">

        <ul class= "list-inline list-unstyled">

            <li class="nav-item list-inline-item dropdown">
                <button class="nav-link mt-2 all-shirts-button-image" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-style" href="#">
                        <strong>All Shirts</strong>
                    </a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'products' %}">All Shirts</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                </ul>
            </li>

            <li class="nav-item list-inline-item">
                <button class="nav-link mt-2 premier-league-button-image">
                    <a class="nav-style" href="{% url 'products' %}?category=premier_league">
                        <strong>Premier League</strong>
                    </a>
                </button>
            </li>

            <li class="nav-item list-inline-item">
                <button class="nav-link mt-2 championship-button-image">
                    <a class="nav-style" href="{% url 'products' %}?category=championship">
                        <strong>Championship</strong>
                    </a>
                </button>
            </li>

            <li class="nav-item list-inline-item">
                <button class="nav-link mt-2 text-white league-one-button-image">
                    <a class="nav-style" href="{% url 'products' %}?category=league_one">
                        <strong>League One</strong>
                    </a>
                </button>
            </li>

            <li class="nav-item list-inline-item">
                <button class="nav-link mt-2 league-two-button-image">
                    <a class="nav-style" href="{% url 'products' %}?category=league_two">
                        <strong>League Two</strong>
                    </a>
                </button>
            </li>

        </ul>
        
    </div>

</div>