<div class="row bg-white w-100 main-nav">

    <div class="d-flex justify-content-center">

        <ul class= "list-inline list-unstyled">

            <li class="nav-item dropdown list-inline-item">
                <button class="nav-link mt-2 text-white all-shirts-button-image" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a>
                        <strong>All Shirts</strong>
                    </a>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item">By League</a>
                    <a href="" class="dropdown-item">All Shirts</a>
                </div>
            </li>

            <li class="nav-item dropdown list-inline-item">
                <button class="nav-link mt-2 text-white premier-league-button-image" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a>
                    <strong>Premier League</strong>
                    </a>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item">Home</a>
                    <a href="" class="dropdown-item">Away</a>
                    <a href="" class="dropdown-item">All Shirts</a>
                </div>
            </li>

            <li class="nav-item dropdown list-inline-item">
                <button class="nav-link mt-2 text-white championship-button-image" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a>
                        <strong>Championship</strong>
                    </a>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item">Home</a>
                    <a href="" class="dropdown-item">Away</a>
                    <a href="" class="dropdown-item">All Shirts</a>
                </div>
            </li>

            <li class="nav-item dropdown list-inline-item">
                <button class="nav-link mt-2 text-white league-one-button-image" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a>
                        <strong>League One</strong>
                    </a>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item">Home</a>
                    <a href="" class="dropdown-item">Away</a>
                    <a href="" class="dropdown-item">All Shirts</a>
                </div>
            </li>

            <li class="nav-item dropdown list-inline-item">
                <button class="nav-link mt-2 text-white league-two-button-image" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a>
                        <strong>League Two</strong>
                    </a>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item">Home</a>
                    <a href="" class="dropdown-item">Away</a>
                    <a href="" class="dropdown-item">All Shirts</a>
                </div>
            </li>

        </ul>
        
    </div>

</div>