<div class="row w-100 mobile-nav">

    <div class="row">

        <div class="d-flex justify-content-center">

            <ul class= "list-inline list-unstyled">
                <li class="list-inline-item dropdown">
                    <a class="nav-link" href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div>
                            <div class="text-black"><p>Account <i class="far fa-user-circle"></i></p></div>
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="{% url 'add_product_to_store' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profiles' %}" class="dropdown-item">Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>

                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-black font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                        <div>
                            <p>
                                {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %} <i class="fas fa-shopping-basket"></i>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>

        </div>

    </div>

    <p>
        <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-bars"></i>
        </a>
    </p>
    <div class="collapse" id="collapseExample">

        <div class="card card-body">

            <ul class= "list-inline list-unstyled">

           <li class="nav-item list-inline-item dropdown">
                <button class="nav-link mt-2 all-shirts-button-image" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    <a class="nav-style" href="#">
                        <strong>All Shirts</strong>
                    </a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'products' %}">All Shirts</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                </ul>
            </li>

            <li class="nav-item list-inline-item">
                <button class="nav-link mt-2 premier-league-button-image">
                    <a class="nav-style" href="{% url 'products' %}?category=premier_league">
                        <strong>Premier League</strong>
                    </a>
                </button>
            </li>

            <li class="nav-item list-inline-item">
                <button class="nav-link mt-2 championship-button-image">
                    <a class="nav-style" href="{% url 'products' %}?category=championship">
                        <strong>Championship</strong>
                    </a>
                </button>
            </li>

            <li class="nav-item list-inline-item">
                <button class="nav-link mt-2 text-white league-one-button-image">
                    <a class="nav-style" href="{% url 'products' %}?category=league_one">
                        <strong>League One</strong>
                    </a>
                </button>
            </li>

            <li class="nav-item list-inline-item">
                <button class="nav-link mt-2 league-two-button-image">
                    <a class="nav-style" href="{% url 'products' %}?category=league_two">
                        <strong>League Two</strong>
                    </a>
                </button>
            </li>

        </ul>

        </div>
    </div>

</div>