{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner %}
<div class="background">
    <h2 class="page-header">{% trans "Account Inactive" %}</h2>
    <hr class="h2-line">

    <p><strong>{% trans "This account is inactive. Please contact us" %}</strong></p>
    <a class="btn btn-dark" href="{% url 'home' %}">
        <span class="icon">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text-white">Home</span>
    </a>
</div>
{% endblock %}
