{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <h2 class="page-header">{% trans "Changed Password" %}</h2>
    <hr class="h2-line">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>

    <a class="btn btn-dark" href="{% url 'home' %}">
        <span class="icon">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text-white">Home</span>
    </a>
{% endblock %}
