{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}
    <div class="background">
        <h2 class="page-header">{% trans "Set Password" %}</h2>
        <hr class="h2-line">

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>

        <a class="btn btn-dark" href="{% url 'home' %}">
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text-white">Home</span>
        </a>
    </div>
{% endblock %}
