{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block inner %}
<div class="background">
    <h2 class="page-header">{% trans "Sign Up Closed" %}</h2>
    <hr class="h2-line">

    <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>

    <a class="btn btn-dark" href="{% url 'home' %}">
        <span class="icon">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text-white">Home</span>
    </a>
</div>
{% endblock %}
