{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-info">
                    <p>
                        {{ product.name }}<br>
                        <strong>£{{ product.price }}</strong><br>
                        {{ product.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}