{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 desktop-image mobile-image">
                <div class="image-container">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-info">
                    <p>
                        {{ product.name }}<br>
                        {% if product.category %}
                            <a class="category-info-link" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-futbol"></i> {{ product.category.friendly_name }}
                            </a>
                        {% endif %}<br>
                        <strong>£{{ product.price }}</strong><br>
                        {{ product.description }}
                    </p>
                </div>
                <hr>
                <div class="row text-center">
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p>Quantity:</p>
                                <div class="form-group center-input w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product_id }}" id="id_qty_{{ product.id }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3 mobile-product-buttons">
                            <a class="btn btn-dark text-white" href="{% url 'products' %}">
                                <i class="fas fa-arrow-left"></i> All Shirts
                            </a>
                            <input type="submit" class="btn btn-dark" value="Add To Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}